

.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
   
  }
  .logo-container{
    .logo:hover{
        transform: rotate(720deg);
        transition: 10s;
    }
    .logo{
      transform: rotate(-720deg);
      transition: 10s;
  }
    
  }
  
  

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;/*most right side*/

    .option {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}
